*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
body{
  font-size:16px;
  color:#333;
  min-width: 1200px;
}
ul,li{
  list-style:none;
}
a{
  color:#fff;
  text-decoration: none;
}
a:hover{
  color:#00c1de !important;
}
/*插入空table*/
.table::before{
  content:"";
  display:table;
}
/*清除之前浮动带来的影响*/
.clear::after{
  content:"";
  display:block;
  clear:both;
}
.lt::after{
  content:"〉";
  display:inline-block;
  color:#fff;
  margin-left:60px;
}
.lt:hover::after{
  color:#00c1de;
}
.small{
  font-size:15px;
}