*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
body{
  font-size:16px;
  color:#333;
  min-width: 1200px;
}
ul,li{
  list-style:none;
}
a{
  color:#fff;
  text-decoration: none;
}
a:hover{
  color:#00c1de !important;
}
/*竖线*/
.line::after{
  content:"";
  display:"inline-block";
  border-right:1px solid #fff;
  margin-left:40px;
}
/*插入空table*/
.table::before{
  content:"";
  display:table;
}
/*清除之前浮动带来的影响*/
.clear::after{
  content:"";
  display:block;
  clear:both;
}
/*箭头*/
.lt::after{
  content:"〉";
  display:inline-block;
  color:#fff;
  margin-left:60px;
}
.lt:hover::after{
  color:#00c1de;
}
/*小号字体*/
.small{ 
  font-size:15px;
}
/*颜色*/
.cblack{color:rgb(31, 25, 25) !important;}
.cred{color:#b91d39 !important;}
.cblue{color:#00c1de !important;}
/*div#loading*/
#loading{
  width:865px !important;
  height:300px !important;
  background:url('../img/pub/loading.gif') no-repeat 0 -90px;
  background-size:100%;
}