#header{
  background:rgb(39,43,46) !important;
  position: relative;
}
body{background:#F9F9F9;}
#banner{
  position: relative;
  width:100%;
  height:390px;
  padding-top:70px;
  background-image: url("../img/domain/banner.jpg");
  text-align: center;
}
#banner>p{
  font-size:30px;
  margin:20px 0 30px;
}
#banner>p>span{
  color:#F60;
  font-weight:bold;
}
#banner .search{
  width:790px;
  height:60px;
  margin:0 auto;
}
#banner input{
  width:550px;
  height:60px;
  float: left;
  border:none;
  outline: none;
  border-radius:3px 0 0 3px;
  padding-left:10px;
}
#banner .search_btn{
  width:130px;
  height:60px;
  float: left;
  font-size:24px;
  color:#fff;
  background:#FF6600;
  text-align:center;
  line-height:60px;
  cursor:pointer;
  border-radius:0 3px 3px 0;
}
#banner div.postfix_btn{
  width:110px;
  height:60px;
  float: left;
  background:#fffdf3;
  text-align:center;
  line-height:60px;
  border-left:1px solid #ddd;
}
#banner #suffix{
  width:110px;
  height: 60px;
  font-size:19px;
  font-weight: 600;
  color:#333;
  border:none;
  outline:none;
  padding-left:25px;
  background:url("../img/index/postfix_btn.png") no-repeat 78px 26px;
  background-size:20px;
  appearance:none;/*去下拉箭头*/
  -moz-appearance:none;
  -webkit-appearance:none;
  cursor:pointer;
}
#banner ul{
  width:790px;
  margin:20px auto;
  display:flex;
  justify-content: space-around;
}
#banner ul li a{
  color:#333;
  font-size: 14px;
}
#banner ul li a:hover{color:#fff !important;}
/*查询结果#result*/
#data{
  width:1170px;
  height:1000px;
  margin:50px auto 0;
  display:flex;
  justify-content: space-between;
}
.left{
  width:865px;
  height:1000px;
}
.left>.result{
  width:100%;
  border:1px solid #e9e9e9;
  border-bottom:none;
  background-color:#fff;
  min-height:300px;
}
[v-cloak] {
  display:none;
}
.left>.result>ul>li{
  height:50px;
  border-bottom:1px solid #e9e9e9;
  padding:12px 15px;
}
.left>.result>ul>li:first-child{
  font-size:20px;
  color:#000;
}
.left>.result>ul>li:nth-child(2){background-color:#fffbf7;}
.left>.result>ul>li>span.domainname{
  font-size:18px;
  color:#333;
  position: relative;
}
.left>.result>ul>li>span.price{
  font-size:22px;
  color:#ff8a00;
  float:right;
  margin-right:20px;
}
.left>.result>ul>li>a.whois{
  font-size:16px;
  color:#00c1de;
  float:right;
  margin-right:10px;
}
.left>.result>ul>li>a.whois:hover{
  text-decoration: underline;
}
.left>.result>ul>li a.broker,a.cart{
  float:right;
  font-size:16px;
  color:#fff;
  background:#ff8a00;
  display: inline-block;
  width:120px;
  height:35px;
  line-height:35px;
  text-align:center;
  border-radius:1px;
  margin-top:-5px;
}
.left>.result>ul>li a.cart{background-color:#00c1de;}
.left>.result>ul>li a.broker,a.cart:hover{color:#fff !important;}
.left>.result>ul>li.disable span.domainname::after{
  content:"已注册";
  display: inline-block;
  width: 50px;
  height: 22px;
  color:#fff;
  font-size: 12px;
  font-weight: bold;
  line-height:22px;
  background-color:#777;
  text-align:center;
  margin-left:15px;
}
.left>.result>ul>li.disable span.domainname::before{
  content: "";
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 6px;
  top: 50%;
  margin-top:-2px;
  right:47px;
  background-color:#777;
  transform: rotate(45deg);
}
.left>.result>ul>li.enable span.domainname::after{
  content:"未注册";
  display: inline-block;
  width: 50px;
  height: 22px;
  color:#fff;
  font-size: 12px;
  font-weight: bold;
  line-height:22px;
  background-color:#5cb85c;
  text-align:center;
  margin-left:15px;
}
.left>.result>ul>li.enable span.domainname::before{
  content: "";
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 6px;
  top: 50%;
  margin-top:-2px;
  right:47px;
  background-color:#5cb85c;
  transform: rotate(45deg);
}
.left>.recommend{
  width:100%;
  margin-top:20px;
  border:1px solid #e9e9e9;
  border-bottom:none;
  background-color:#fff;
}
.left>.recommend>ul>li:nth-child(2){background:#fff;}
/*右侧轮播*/
.right{
  width:283px;
}
.right>.ban{
  width:100%;
  height:180px;
  overflow: hidden;
}
.right>.ban>ul{
  width:1132px;
  height:100%;
  margin-left:0;
  transition: all .6s linear;
}
.right>.ban>ul>li{
  width:25%;
  float: left;
}
.right>.ban>ul>li>a{display:inline-block;width:100%;}
.right>.ban>ul img{
  width:283px !important;
}
.right>.cart{
  width:100%;
  margin-top:20px;
  border:1px solid #e9e9e9;
  background-color:#fff;
}
.right>.cart>ul{width:100%;}
.right>.cart>ul>li{
  width:100%;
  height:50px;
  line-height:50px;
  display: flex;
  justify-content: space-between;
  padding:0 15px;
  align-items: center;
}
.right>.cart>ul>li:first-child{
  height:60px;
  line-height:60px;
  border-bottom:1px solid #e9e9e9;
  font-size:20px;
}
.right>.cart>ul>li:first-child>span.total{
  display:inline-block;
  font-size:12px;
  width:20px;
  height:20px;
  color:#000;
  line-height:20px;
  text-align:center;
  border-radius:50%;
  background:#ff5029;
  color:#fff;
  font-weight:bold;
  margin-left:-80px;
}
.right>.cart>ul>li:first-child>a{
  color:#00c1de;
  font-size:14px;
}
.right>.cart>ul>li:first-child>a:hover{text-decoration: underline;}
.right>.cart>ul>li:not(:first-child)>a{
  font-size:12px;
  color:#00c1de;
  border:1px solid #00c1de;
  display: inline-block;
  width:40px;
  height:30px;
  line-height:30px;
  text-align:center;
  border-radius:1px;
  transition:all 0.3s linear;
}
.right>.cart>ul>li:not(:first-child)>a:hover{background:#00c1de;color:#fff !important;}
.right>.cart>ul>li:last-child{
  height:60px;line-height:60px;
  justify-content: center;
  border-top:1px solid #e9e9e9;
}
.right>.cart>ul>li:last-child>a{
  font-size:12px;
  color:#fff;
  border:none;
  background:#ff8a00;
  width:100px;
  height:30px;
  line-height:30px;
  text-align:center;
  border-radius:1px;
}
.right>.cart>ul>li:last-child>a:hover{background:#ffa133}
.right>.public{
  width:100%;
  margin-top:20px;
  border:1px solid #e9e9e9;
  background-color:#fff;
  padding-bottom:20px;
}
.right>.public>ul>li{height:40px;line-height:40px;padding:0 15px;}
.right>.public>ul>li:first-child{width:100%;height:60px;line-height:60px;font-size:20px;border-bottom:1px solid #e9e9e9;}
.right>.public>ul>li>a{color:#666;font-size:14px;}
.right>.public>ul>li>a:hover{text-decoration:underline;}
