header a{
  color:#fff;
  text-decoration: none;
}
header a:hover{
  color:#00c1de !important;
} 
header{
  background:transparent;
  transition:all .7s linear;
  width:100%;
  min-width: 1200px;
  position: absolute;
  z-index:1;
}
header:hover{
  background:#1C2327;
}
header:hover #nav2{
  border-bottom:1px solid transparent;
}
/*#nav1*/
#nav1{
  width:100%;
  height:50px;
}
#nav1>div:first-child{
  float:left;
  width:50px;
  height:50px;
  line-height:55px;
  text-align:center;
  border-right:1px solid hsla(0,0%,100%,.15);
  transition: all .2s ease-in-out;
}
#nav1>div:first-child>img{
  width:18px;
  cursor:pointer;
}
#nav1>a{
  float: left;
  width:120px;
  height:50px;
  text-align: center;
  line-height:61px;
  background:url('../img/header/logo.gif') no-repeat 17px 0;
  background-size:91px 52px;
}
#nav1>a>img{
  width:89px;
}
#nav1>div:last-child>ul>li{
  float:right;
  line-height:50px;
  margin-left:20px;
  margin-right:20px;
}
#nav1>div:last-child>ul>li>img{
  width:20px;
  vertical-align: middle;
  margin-right:5px;
}
#nav1>div:last-child>ul>li:last-child{
  height:50px;
  background:transparent;
  position: relative;
  padding: none;
}
#nav1>div:last-child>ul>li:last-child>input{
  width:190px;
  height:50px;
  border:none;
  outline:none;
  padding-left:10px;
  background: hsla(0,0%,100%,.12);
  transition:all .4s linear;
  display: block;
  border-top:1px solid transparent;
  border-bottom:1px solid transparent;
  color:#fff;
}
#nav1>div:last-child>ul>li:last-child>input:hover{
  width:290px;
  border:1px solid #00C1DE;
}
#nav1>div:last-child>ul>li:last-child>input:focus{
  width:290px;
  border:1px solid #00C1DE;
}
#nav1>div:last-child>ul>li:last-child>img{
  position: absolute;
  right:8px;
  top:17px;
  cursor: pointer;
}
/*#nav2*/
#nav2{
  width:100%;
  height:50px;
  background:transparent;
  border-top:1px solid hsla(0,0%,100%,.15);
  border-bottom:1px solid hsla(0,0%,100%,.15);
  transition:all .5s linear;
}
#nav2>ul>li{
  float:left;
  width:135px;
  height:50px;
  line-height:50px;
  text-align: center;
  position: relative;
}
#nav2>ul>li>a{
  display: block;
  width:100%;
  height:100%;
}
#nav2>ul>li:hover ul{
  height:185px;
  padding:8px 0;

}
#nav2>ul>li>ul{
  overflow: hidden;
  width:100%;
  height:0px;
  position: absolute;
  background:#fff;
  top:50px;
  left:0;
  border-radius:3px 3px 4px 4px;
  transition: all .3s linear;
}
#nav2>ul>li>ul>li{
  height:35px;
  line-height:35px;
}
#nav2>ul>li>ul>li>a{
  color:#222 !important;
  font-size:16px;
}
#nav2>ul>li>ul>li>a:hover{
  color:#00c1de  !important;
}
#nav2>a{
  float:right;
  width:120px;
  height:50px;
  text-align:center;
  line-height:50px;
  color:#fff;
  background:#00c1de;
}
#nav2>a:hover{
  background:#28d0e9;
  color:#fff !important;
}

/*侧菜单*/
#nav1>div:first-child:hover{
  background:#00c1de;
}
#nav1>div:first-child:hover >ul{
  width:200px;
  z-index:1;
}
#nav1>div:first-child>ul{
  background:rgb(39,43,46);
  width:0px;
  height:1000px;
  margin-top:-5px;
  padding-top:48px;
  text-align: left;
  border-top:1px solid hsla(0,0%,100%,.15);
  border-right:1px solid hsla(0,0%,100%,.15);
  position:absolute;
  left:-1px;
  transition:all .3s linear;
}
#nav1>div:first-child>ul>li{
  margin-left:30px;
  overflow: hidden;
  height:55px;
}
#nav1>div:first-child>ul>li.small{
  height:40px;
}
#nav1>div:first-child>ul>li.small>img{
  width:12px;
  margin-left:63px;
}
#nav1>div:first-child>ul>li:nth-child(7){
  border-top:1px solid hsla(0,0%,100%,.15);
  margin-top:10px;
  margin-right:30px;
}
#nav1>div:first-child>ul>li:last-child{
  color:#fff;
  margin-top:320px;
  font-size:14px;
}
#nav1>div:first-child>ul>li>ul{
  width:0px;
  height:1000px;
  padding-top:55px;
  background:rgb(48,53,56);
  border-top:1px solid hsla(0,0%,100%,.15);
  margin-top:-1px;
  position:absolute;
  top:0px;
  left:200px;
  overflow:hidden;

}
#nav1>div:first-child>ul>li:hover ul{
  width:200px;
}
#nav1>div:first-child>ul>li>ul>li{
  height:55px;
  margin-left:30px;
  margin-right:30px;
}
#nav1>div:first-child>ul>li>ul>li>a{
  display:block;
  width:130px;
  height:40px;
  line-height:40px;
  padding-left:20px;
  cursor:pointer;
  border-radius:4px;
}
#nav1>div:first-child>ul>li>ul>li>a:hover{
  background:rgb(59,63,66);
}
/*登录信息*/
a.loginA{background:transparent !important;position:relative;font-size:14px;}
a.loginA>img{width:49px;border-radius:50%}
a.loginA:hover >div{display:block;}
a.loginA>div{
  position:absolute;
  top:50px;
  right:0;
  width:190px;
  height:250px;
  background-color:rgb(32,37,41);
  display:none;
}
a.loginA>div>ul{padding-top:10px;}
a.loginA>div>ul>li>img{width:20px;margin-right:15px;vertical-align:middle;}
a.loginA>div>ul>li{width:100%;height:45px;padding-left:15px;text-align:left;line-height:45px;}
a.loginA>div>ul>li>span:hover{color:#00C1DE;}