header{
  background:#1c2327 !important;
  position: relative !important;
}
#banner{
  width:100%;
  height:230px;
  text-align:center;
  background:#e1f5fe
}
#banner>div{
  width:1200px;
  height:180px;
  margin:0 auto;
  background:url("../img/sale/banner.png") no-repeat 68px 45px;
}
#banner>div>h1{
  padding-top:50px;
  font-size:32px;
  font-weight: normal;
}
#banner>div>p{
  font-size:15px;
  margin-top:15px;
  color:#666;
}
#banner>ul{
  width:1200px;
  margin:0 auto;
}
#banner>ul>li{
  float:left;
  width:20%;
  height:50px;
  background:#fff;
  border:1px solid #eaeaea;
  line-height:50px;
}
#banner>ul>li.active{
  border-top:3px solid #2086ee;
  border-bottom:none;
  height:51px;
}
#banner>ul>li>a{
  display: inline-block;
  width:100%;
  height:100%;
  color:#333;
}
#banner>ul>li>a:hover{color:#00c1de;}
/*#query的table*/
#query{
  width:1200px;
  height:380px;
  margin:0 auto;
  font-size:14px;
  color:#666;
}
#query>table{
  width:1200px;
  margin:0 auto;
  border-spacing: 7px 20px;
  text-align:center;
}
#query>table td{
  width:80px;
  height:30px;
  border-radius:3px;
  box-shadow: 0 0 3px #999;
}
#query table tr td:first-child{
  background:#ff8a00 !important;
  border-radius:0 ;
  color:#fff;

  font-size:15px;
  cursor:default !important;
}
#query td.active{
  background:#00c1de !important;
  color:#fff !important;
}
#query td.white{
  background:#fff !important;
  color:#666 !important;
  cursor:default !important;
}
#query>table input.put{
  width:150px;
  height:22px;
  border-radius:2px;
  outline: none;
  margin:0 -20px;
  padding:0;
  text-align:center;
  border-radius:3px;
}
#query>table input.inp{
  width:70px;
  height:22px;
  border-radius:2px;
  outline: none;
  text-align:center;
  border-radius:3px;
}
#query .nochange,.changeb{box-shadow: 0 0 3px #999 !important;}
#submit{
  width:180px;
  height:40px;
  margin:20px auto;
  text-align:center;
  line-height:40px;
  background:#00c1de;
  color:#fff;
  font-size:18px;
  border-radius:2px;
  cursor: pointer;
}
/*返回数据#data*/
#data{
  width:1200px;
  margin:0 auto;
  margin-top:80px;
  color:#666;
  font-size:14px;
}
#data>table{
  width:1200px;
  text-align:center;
  border-spacing: 0;
  margin-top:20px;
}
#data>table tr{
  height:40px;
}
#data>table tr td{
  border-bottom:1px dashed #ccc;
}

#data>table tr>th{
  font-size:16px;
  font-weight:500;
  color:#fff;
}
#data>table tr>th>img{
  width:20px;
  margin-bottom:-4px;
  cursor: pointer;
  margin-right:-10px;
}
#data>table tr:first-child{
  background-color:#5B7783;
}
#data>table td.domain{
  width:250px;
  text-align:left;
  padding-left:15px;
  color:#2086ee;
  font-size:15px;
}
#data>table td.domain:hover{
  color:#f60;
}
#data>table td.info{
  color:#669BD8;
}
#data>table td.price{
  color:#FF4800;
}
#data>table td.addCart>a{
  display:inline-block;
  width:100px;
  height:28px;
  border:1px solid #00c1de;
  border-radius:2px;
  color:#fff;
  line-height: 28px;
  background:#00c1de;
}
#data>table td.buy>a{
  display:inline-block;
  width:100px;
  height:28px;
  border:1px solid #00c1de;
  border-radius:2px;
  color:#fff;
  line-height: 28px;
  background:#00c1de;
}
#data>div>p{
  font-size:14px;
  color:#666;
  padding:5px;
  background-color:#F1F6FA;
}
#data>div>p:first-child{
  margin-top:40px;
  margin-bottom:20px;
}
#data>div>p:last-child{
  padding-left:28px;
  margin-bottom:100px;
}
#data>div>p>img{
  vertical-align: middle
}
/*分页样式*/
#data>div.pagination{
  width:1200px;
  margin:20px auto;
  border:1px solid #ccc;
  border-radius:3px;
  background:#ddd;
  display:flex;
  justify-content:flex-end;
  align-items: center;
}
#data>div.pagination>div{
  width:30px;
  height:30px;
  border:1px solid #ccc;
  text-align:center;
  line-height:30px;
  margin:5px;
  border-radius:1px;
  cursor: pointer;
  background:#fff;
}
#data>div.pagination>div:hover{
  background:#e6f9fc;
}
#data>div.pagination>div.active{
  background:#00c1de;
  color:#fff;
}
#data>div.pagination>div.prev,div.next{
  width:70px;
  height:30px;
}
#data>div.pagination>span{
  margin:0 10px;
}
#data>div.pagination>div.jump{
  width:40px;
  background:#669BD8;
  color:#fff;
  border-radius:1px;
  cursor:pointer;
}
#data>div.pagination>input{
  width:30px;
  height:25px;
  text-align:center;
}
#data>div.pagination>div.disable{
  background:#ddd;
}