<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/domain.css">
  <script src="js/jquery-3.2.1.js"></script>
  <script src="js/vue.js"></script>
  <title>domain</title>
  <title>追米网_域名注册信息查询_域名注册</title>
  <meta name=keywords content="追米,追米网,whois,whois查询,域名whois,域名信息查询">
  <meta name=description content="追米网域名whois信息查询，查询域名注册信息。">
</head>
<body>
  <header></header>
  <div id="content">
    <!--横幅搜索框-->
    <div id="banner">  
      <img src="img/domain/logo.png">
      <p>超过<span>20,000,000域名</span>在这里注册</p>
      <div class="search">
          <input v-model="keyword" type="text" placeholder="请输入您要查询的域名，如 zhuimi" name="keyword" id="keyword">
          <div class="postfix_btn">
            <select id="suffix" name="suffix" v-model="suffix">
                <option value=".com">.com</option>
                <option value=".cn">.cn</option>
                <option value=".com.cn">.com.cn</option>
                <option value=".net">.net</option>
                <option value=".org">.org</option>
                <option value=".cc">.cc</option>
                <option value=".tv">.tv</option>
                <option value=".xin">.xin</option>
                <option value=".top">.top</option>
                <option value=".vip">.vip</option>
                <option value=".co">.co</option>
                <option value=".love">.love</option>
                <option value=".中国">.中国</option>
            </select>
          </div>
          <div class="search_btn" @click="toUrl()">查域名</div>
        </div>
      <ul>
        <li class="line"><a href="#">whois查询</a></li>
        <li class="line"><a href="/registered.html">批量注册</a></li>
        <li class="line"><a href="/sale.html">域名交易</a></li>
        <li class="line"><a href="/book.html">域名抢注</a></li>
        <li class="line"><a href="/bid.html">域名竞价</a></li>
        <li><a href="/broker.html">域名回购</a></li>
      </ul>
    </div>
    <!--内容部分-->
    <div id="data">
      <div class="left" id="left">
        <!--左侧-查询结果-->
        <div class="result">
          <ul>
            <li>
              <span>挑选您喜欢的域名</span>
            </li>
            <li :class="item.avail?'enable':'disable'" v-for="item of resulte" v-cloak>
              <span class="domainname">{{item.keyword}}.{{item.suffixs}}</span>
              <a v-if="!item.avail" href="/broker.html" class="broker">委托购买</a>
              <a v-if="!item.avail" :href=`http://api.chinaz.com/CallAPI/Whois?key=e1caa93f865f40968b43b2445a2a4460&domainName=${item.keyword}.${item.suffixs}` class="whois" :data-k="item.keyword" :data-s="item.suffixs">Whois 信息 &gt;</a>
              <a v-if="item.avail" href="#" class="cart addCart" :data-regPrice="item.price" :data-keyword="item.keyword" :data-suffix="item.suffixs" @click="addCart($event)">加入购物车</a>
              <span v-if="item.avail" class="price">&yen;{{item.price}}
                <span v-if="item.avail" style="font-size:11px;color:#ff8a00;">&#47;首年</span>
              <span>
            </li>
            <!--loading-->
            <li id="loading"></li>
          </ul>
        </div>
        <!--左侧-推荐域名-->
        <div class="result recommend">
          <ul>
            <li>
              <span>为您推荐的域名</span>
            </li>
            <li class="enable" v-for="rec of recomment" v-if="rec.avail" v-cloak>
                <span class="domainname">{{rec.domain}}</span>
                <a href="#" class="cart addCart" :data-keyword="rec.keyword" :data-suffix="rec.suffix"  @click="addCart($event)">加入购物车</a>
                <span class="price">&yen;49
                  <span style="font-size:11px;color:#ff8a00;">/首年</span>
                <span>
            </li>
          </ul>
        </div>
      </div>
      <div class="right">
        <!--右侧-轮播图-->
        <div class="ban">
          <ul class="wrapper">
            <li>
              <a href="#">
                <img src="img/domain/ban3.jpg">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/domain/ban1.png">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/domain/ban2.jpg">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/domain/ban3.jpg">
              </a>
            </li>
          </ul>
          <ul class="pagination">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <!--右侧-购物车-->
        <div class="cart">
          <ul v-cloak>
            <li><span>域名清单</span><span class="total" v-if="local.length">{{local.length}}</span><a href="#" @click="clearCart($event)">清空清单</a></li>
            <li v-for="item of local" v-if="local.length" ><span>{{item}}</span><a href="#" @click="delCart($event)" :data-cartDomain="item">移除</a></li>
            <li v-if="local.length" class="last" ><a href="#" @click.prevent="pay()">立即结算</a></li>
          </ul>
        </div>
        <!--右侧-公告-->
        <div class="public">
          <ul>
            <li><span>域名公告</span></li>
            <li><a href="#">· 如何选择适合您的域名？</a></li>
            <li><a href="#">· 如何购买域名？</a></li>
            <li><a href="#">· 什么是白金域名？</a></li>
            <li><a href="#">· .cn等国内域名如何提交资料审核？</a></li>
            <li><a href="#">· 域名要备案吗，如何备案？</a></li>
            <li><a href="#">· 从域名到网站，要做哪几步？</a></li>
          </ul>
        </div>
      </div> 
    </div>
  </div>
  <script src="js/header.js"></script>
  <script src="js/domain.js"></script>
</body>
</html>