  <header id="header">
    <div id="nav1">
      <div>
        <img src="img/header/menu.png">
        <ul>
          <li v-for="item,i of firstlist" class="lt">
            <a :href="item.href" v-text="item.fname"></a>
            <ul>
                <li v-if="item.fid==i+1" v-for="item,j of secondlist"><a :href="item.href" v-text="item.sname"></a></li>
            </ul>
          </li>
          <li class="small"><a href="#">政府通道</a><img src="img/header/arrow.png"></li>
          <li class="small"><a href="#">联系我们</a><img src="img/header/arrow.png"></li>
          <li class="small"><a href="#">商务合作</a><img src="img/header/arrow.png"></li>
          <li>售前咨询95187转1</li>
        </ul>
      </div>
      <a href="/">
        <img src="img/header/logo.png">
      </a>
      <div>
          <ul>
            <li>
              <img src="img/pub/user_white.png">
              <a v-if="!isLogin" href="/login.html?page=1">登录</a>
              <a href="#" v-text="uname"></a>
            </li>
            <li>
              <img src="img/pub/console.png">
              <a href="/admin.html">控制台</a>
            </li>
            <li class="cart">
              <img src="img/header/cart.png">
              <span class="count" v-if="cart.length != 0" v-text="cart.length" v-cloak></span>
              <a href="#">购物车</a>
              <div id="cart" v-if="cart.length != 0">
                <p>
                    <span>域名</span>  
                    <span>移除</span>
                    <span>价格</span>
                </p>
                <p v-for="item of cart">
                  <span class="cartDomain">{{item.domainname}}</span>
                  <span class="cartDel" @click="cartDel($event)">x</span>
                  <span class="cartPrice">{{item.nowPrice}} &yen;</span>
                  
                </p>
                <p>
                    <span class="buy">立即结算</span>
                    <span class="total">总价: {{total}}元</span>
                </p>
              </div>
            </li>
            <li>
              <input type="text" placeholder="WHOIS查询" v-model="whois" @keyup.13="searchWhois()">
              <img src="img/header/search.png" @click="searchWhois()">
            </li>
          </ul>
      </div>
    </div>
    <div id="nav2">
      <ul>
        <li>
          <a href="/">首页</a>
        </li>
        <!--分类-->
        <li v-for="item,i of firstlist">
          <a :href="item.href" v-text="item.fname"></a>
          <ul>
              <li v-if="item.fid==i+1" v-for="item,j of secondlist"><a href="#" v-text="item.sname"></a></li>
          </ul>
        </li>
      </ul>
      <a v-if="!isLogin" href="/login.html?page=2" v-cloak>免费注册</a>
      <a v-else href="/admin.html" class="loginA" v-cloak>
        <img :src="photo">
        <div class="loginInfo">
          <ul>
            <li>
                <img src="./img/pub/user.png">
                <span>{{uname}}</span>
            </li>
            <li>
                <img src="./img/pub/phone.png">
                <span>{{phone}}</span>
            </li>
            <li>
                <img src="./img/pub/console.png">
                <span>控制台</span>
            </li>
            <li>
                <img src="./img/pub/domain.png">
                <span>域名 {{dCount}}个</span>
            </li>
            <li>
                <img src="./img/pub/out.png">
                <span @click="logout($event)">退出</span>
            </li>
          </ul>
        </div>
      </a>
    </div>
  </header>
