  <header id="header">
    <div id="nav1">
      <div>
        <img src="img/header/menu.png">
        <ul>
          <li v-for="item,i of firstlist">
            <a href="/registered.html" v-text="item.fname"></a>
            <img src="img/header/lt.png" alt="">
            <!--<ul>
                <li v-if="item.fid==i+1" v-for="item,j of secondlist"><a href="#" v-text="item.sname"></a></li>
            </ul>-->
          </li>
        </ul>
      </div>
      <a href="#">
        <img src="img/header/logo.png">
        <img src="" alt="">
      </a>
      <div>
          <ul>
            <li>
              <img src="img/header/cart.png">
              <a href="#">登录</a>
            </li>
            <li>
              <img src="img/header/cart.png">
              <a href="#">控制台</a>
            </li>
            <li>
              <img src="img/header/cart.png">
              <a href="#">购物车</a>
            </li>
            <li>
              <input type="text" placeholder="WHOIS查询">
              <img src="img/header/search.png">
            </li>
          </ul>
      </div>
    </div>
    <div id="nav2">
      <ul>
        <li>
          <a href="/">首页</a>
        </li>
        <!--分类-->
        <li v-for="item,i of firstlist">
          <a href="/registered.html" v-text="item.fname"></a>
          <ul>
              <li v-if="item.fid==i+1" v-for="item,j of secondlist"><a href="#" v-text="item.sname"></a></li>
          </ul>
        </li>
      </ul>
      <a href="#">免费注册</a>
    </div>
  </header>
